---
import "../styles/global.css";
import { initDB } from "../lib/db/init";
import { getProjects } from "../lib/beaver/project";
import Onboarding from "../components/onboarding-view";

// init databse at startup
await initDB();

// get projects and if there are no projects, do onboarding flow
const projects = await getProjects();

if (projects.length === 0) {
  console.log("Redirect...");
  return Astro.redirect("/onboarding");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    >{projects.length === 0 ? <Onboarding client:only="react" /> : null}</body
  >
</html>
