---
import "../styles/global.css";
import { initDB } from "../lib/db/init";
import { getProjects } from "../lib/beaver/project";

// init databse at startup
await initDB();

// get projects and if there are no projects, do onboarding flow
const projects = await getProjects();

if (projects.length === 0) {
  console.log("Redirecting to onboarding...");
  return Astro.redirect("/onboarding");
} else {
  console.log("Redirecting to dashboard...");
  return Astro.redirect(`/dashboard/${projects[0].id}/feed`);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <p>Hold on while we take you to the right place...</p>
  </body>
</html>
