---
import "../styles/global.css";
import OnboardingView from "../components/onboarding-view";
import { getProjects } from "@/lib/beaver/project";

// get projects and if there are no projects, do onboarding flow
const projects = await getProjects();

if (projects.length !== 0) {
  return Astro.redirect(`/dashboard/${projects[0].id}`);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro - Onboarding</title>
  </head>
  <body>
    <OnboardingView client:only="react" />
  </body>
</html>
