---
import "@/styles/global.css";
import SidePanel from "@/components/side-panel";
import { getProject, getProjects } from "@/lib/beaver/project";
import { getChannels } from "@/lib/beaver/channel";
import { ClientRouter } from "astro:transitions";

interface Props {
  projectID: string;
}

const { projectID } = Astro.props;

const project = await getProject(parseInt(projectID));

const projects = await getProjects();
const channels = await getChannels(project.id);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/beaver.png" />
    <title>Beaver</title>
    <ClientRouter />
  </head>
  <body>
    <div class="flex flex-col md:flex-row">
      <SidePanel
        client:load
        currentProject={project}
        currentProjects={projects}
        currentChannels={channels}
        currentPath={Astro.url.pathname}
        transition:persist
      />
      <div class="flex-1 min-w-0">
        <slot />
      </div>
    </div>
  </body>
</html>
