---
import Layout from "@/layouts/layout.astro";
import ProjectFeed from "@/components/project-feed";

const { projectID } = Astro.params;
---

<Layout projectID={projectID!}>
  <div class="flex flex-col items-center w-full">
    <div class="w-full p-8 border-b">
      <h1 class="text-2xl font-semibold">Feed</h1>
    </div>
    <div id="eventContainer" class="p-8 w-1/2 space-y-4">
      <ProjectFeed client:load projectID={parseInt(projectID!)} />
    </div>
  </div>
</Layout>
