---
import "../../../styles/global.css";
import Layout from "@/layouts/layout.astro";

const { projectID, channelID } = Astro.params;
---

<Layout projectID={projectID!} channelID={channelID}>
  <div class="w-full bg-blue-100">Project ID: {projectID}</div>
</Layout>
